@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;
}

/* Reset */
html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none !important ;
}

/* Margins */
.m-8 {
    margin: 8px;
}
.m-16 {
    margin: 16px;
}
.m-24 {
    margin: 24px;
}
.m-32 {
    margin: 32px;
}
.m-40 {
    margin: 40px;
}
.m-48 {
    margin: 48px;
}
.m-56 {
    margin: 56px;
}
.m-64 {
    margin: 64px;
}
.m-72 {
    margin: 72px;
}
.m-80 {
    margin: 80px;
}
.m-88 {
    margin: 88px;
}
.m-96 {
    margin: 96px;
}
.m-100 {
    margin: 100px;
}
.m-110 {
    margin: 110px;
}
.m-120 {
    margin: 120px;
}

///////////////////
///////////////////
///MARGIN BOTTOM///
///////////////////
///////////////////


.mb-8 {
    margin-bottom: 8px;
}
.mb-16 {
    margin-bottom: 16px;
}
.mb-24 {
    margin-bottom: 24px;
}
.mb-32 {
    margin-bottom: 32px;
}
.mb-40 {
    margin-bottom: 40px;
}
.mb-48 {
    margin-bottom: 48px;
}
.mb-56 {
    margin-bottom: 56px;
}
.mb-64 {
    margin-bottom: 64px;
}
.mb-72 {
    margin-bottom: 72px;
}
.mb-80 {
    margin-bottom: 80px;
}
.mb-88 {
    margin-bottom: 88px;
}
.mb-96 {
    margin-bottom: 96px;
}
.mb-100 {
    margin-bottom: 100px;
}
.mb-110 {
    margin-bottom: 110px;
}
.mb-120 {
    margin-bottom: 120px;
}

///////////////////
///////////////////
///MARGIN TOP///
///////////////////
///////////////////



.mt-8 {
    margin-top: 8px;
}
.mt-16 {
    margin-top: 16px;
}
.mt-24 {
    margin-top: 24px;
}
.mt-32 {
    margin-top: 32px;
}
.mt-40 {
    margin-top: 40px;
}
.mt-48 {
    margin-top: 48px;
}
.mt-56 {
    margin-top: 56px;
}
.mt-64 {
    margin-top: 64px;
}
.mt-72 {
    margin-top: 72px;
}
.mt-80 {
    margin-top: 80px;
}
.mt-88 {
    margin-top: 88px;
}
.mt-96 {
    margin-top: 96px;
}
.mt-100 {
    margin-top: 100px;
}
.mt-110 {
    margin-top: 110px;
}
.mt-120 {
    margin-top: 120px;
}

///////////////////
///////////////////
///MARGIN LEFT///
///////////////////
///////////////////


.ml-8 {
    margin-left : 8px;
}
.ml-16 {
    margin-left : 16px;
}
.ml-24 {
    margin-left : 24px;
}
.ml-32 {
    margin-left : 32px;
}
.ml-40 {
    margin-left : 40px;
}
.ml-48 {
    margin-left : 48px;
}
.ml-56 {
    margin-left : 56px;
}
.ml-64 {
    margin-left : 64px;
}
.ml-72 {
    margin-left : 72px;
}
.ml-80 {
    margin-left : 80px;
}
.ml-88 {
    margin-left : 88px;
}
.ml-96 {
    margin-left : 96px;
}
.ml-100 {
    margin-left : 100px;
}
.ml-110 {
    margin-left : 110px;
}
.ml-120 {
    margin-left : 120px;
}


///////////////////
///////////////////
///MARGIN RIGHT ///
///////////////////
///////////////////


.mr-8 {
    margin-right: 8px;
}
.mr-16 {
    margin-right: 16px;
}
.mr-24 {
    margin-right: 24px;
}
.mr-32 {
    margin-right: 32px;
}
.mr-40 {
    margin-right: 40px;
}
.mr-48 {
    margin-right: 48px;
}
.mr-56 {
    margin-right: 56px;
}
.mr-64 {
    margin-right: 64px;
}
.mr-72 {
    margin-right: 72px;
}
.mr-80 {
    margin-right: 80px;
}
.mr-88 {
    margin-right: 88px;
}
.mr-96 {
    margin-right: 96px;
}
.mr-100 {
    margin-right: 100px;
}
.mr-110 {
    margin-right: 110px;
}
.mr-120 {
    margin-right: 120px;
}

/* Paddings */
.p-8 {
    padding: 8px;
}
.p-16 {
    padding: 16px;
}
.p-24 {
    padding: 24px;
}
.p-32 {
    padding: 32px;
}
.p-40 {
    padding: 40px;
}
.p-48 {
    padding: 48px;
}
.p-56 {
    padding: 56px;
}
.p-64 {
    padding: 64px;
}
.p-72 {
    padding: 72px;
}
.p-80 {
    padding: 80px;
}
.p-88 {
    padding: 88px;
}
.p-96 {
    padding: 96px;
}
.p-100 {
    padding: 100px;
}
.p-110 {
    padding: 110px;
}
.p-120 {
    padding: 120px;
}

///////////////////
///////////////////
///PADDING BOTTOM///
///////////////////
///////////////////


.pb-8 {
    padding-bottom: 8px;
}
.pb-16 {
    padding-bottom: 16px;
}
.pb-24 {
    padding-bottom: 24px;
}
.pb-32 {
    padding-bottom: 32px;
}
.pb-40 {
    padding-bottom: 40px;
}
.pb-48 {
    padding-bottom: 48px;
}
.pb-56 {
    padding-bottom: 56px;
}
.pb-64 {
    padding-bottom: 64px;
}
.pb-72 {
    padding-bottom: 72px;
}
.pb-80 {
    padding-bottom: 80px;
}
.pb-88 {
    padding-bottom: 88px;
}
.pb-96 {
    padding-bottom: 96px;
}
.pb-100 {
    padding-bottom: 100px;
}
.pb-110 {
    padding-bottom: 110px;
}
.pb-120 {
    padding-bottom: 120px;
}

///////////////////
///////////////////
///PADDING TOP///
///////////////////
///////////////////



.pt-8 {
    padding-top: 8px;
}
.pt-16 {
    padding-top: 16px;
}
.pt-24 {
    padding-top: 24px;
}
.pt-32 {
    padding-top: 32px;
}
.pt-40 {
    padding-top: 40px;
}
.pt-48 {
    padding-top: 48px;
}
.pt-56 {
    padding-top: 56px;
}
.pt-64 {
    padding-top: 64px;
}
.pt-72 {
    padding-top: 72px;
}
.pt-80 {
    padding-top: 80px;
}
.pt-88 {
    padding-top: 88px;
}
.pt-96 {
    padding-top: 96px;
}
.pt-100 {
    padding-top: 100px;
}
.pt-110 {
    padding-top: 110px;
}
.pt-120 {
    padding-top: 120px;
}

///////////////////
///////////////////
///PADDING LEFT///
///////////////////
///////////////////


.pl-8 {
    padding-left : 8px;
}
.pl-16 {
    padding-left : 16px;
}
.pl-24 {
    padding-left : 24px;
}
.pl-32 {
    padding-left : 32px;
}
.pl-40 {
    padding-left : 40px;
}
.pl-48 {
    padding-left : 48px;
}
.pl-56 {
    padding-left : 56px;
}
.pl-64 {
    padding-left : 64px;
}
.pl-72 {
    padding-left : 72px;
}
.pl-80 {
    padding-left : 80px;
}
.pl-88 {
    padding-left : 88px;
}
.pl-96 {
    padding-left : 96px;
}
.pl-100 {
    padding-left : 100px;
}
.pl-110 {
    padding-left : 110px;
}
.pl-120 {
    padding-left : 120px;
}


///////////////////
///////////////////
///PADDING RIGHT ///
///////////////////
///////////////////


.pr-8 {
    padding-right: 8px;
}
.pr-16 {
    padding-right: 16px;
}
.pr-24 {
    padding-right: 24px;
}
.pr-32 {
    padding-right: 32px;
}
.pr-40 {
    padding-right: 40px;
}
.pr-48 {
    padding-right: 48px;
}
.pr-56 {
    padding-right: 56px;
}
.pr-64 {
    padding-right: 64px;
}
.pr-72 {
    padding-right: 72px;
}
.pr-80 {
    padding-right: 80px;
}
.pr-88 {
    padding-right: 88px;
}
.pr-96 {
    padding-right: 96px;
}
.pr-100 {
    padding-right: 100px;
}
.pr-110 {
    padding-right: 110px;
}
.pr-120 {
    padding-right: 120px;
}

/* Flex */
.d_flex {
    display: flex;
}

.flex_row {
    flex-direction: row;
}

.flex_column {
    flex-direction: column;
}

.flex_between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Utility */
.position_fixed {
    position: fixed;
}

.position_sticky {
    position: sticky;
    top: 0;
}

.w_100 {
    width: 100%;
}

.h_10vh {
    height: 10vh;
}

.h_5vh {
    height: 5vh;
}

.z_i {
    z-index: 150;
}

.bg_gray {
    background-color: lightslategrey;
    /* background-color: mediumseagreen; */
}

.bg_gray_2 {
    background-color: rgba(119, 136, 153, 0.492);
    /* background-color: rgba(60, 179, 114, 0.433); */
}

.text_white {
    color: white;
}

.align_center {
    align-items: center;
}

.bg_white {
    background-color: white;
}

.vertical_middle {
    vertical-align: middle;
}

.mt-200 {
    margin-top: 200px;
}